## Walkthrough #1
---

1. Import the pandas library

In [1]:
import pandas as pd

2. Load npi_dataset.csv as a dataframe

In [ ]:
df = pd.read_excel('icons.xlsx')

3. Create function you want to apply

In [4]:
def word_length(x):
    if len(x) >10:
        return 'long word'
    else:
        return 'short word'

4. Apply function to column

In [8]:
df['a_new_column'] = df['profession'].apply(lambda x: word_length(x))
df

    user_id   first_name    last_name          profession a_new_column
0         0      Indiana        Jones       Archaeologist    long word
1         1        Harry       Potter              Wizard   short word
2         2         Tony        Stark        Entrepreneur    long word
3         3        Rocky       Balboa               Boxer   short word
4         4      Westley      Roberts        Dread Pirate    long word
5         5     Jean-Luc       Picard   Starfleet Officer    long word
6         6         Rick      Deckard           Detective   short word
7         7      Leonard        Euler       Mathematician    long word
8         8       Edward       Teller           Physicist   short word
9         9          Tim  Berners-Lee  Computer Scientist    long word
10       10  Christopher     Columbus            Explorer   short word