## Pandasql
---

### Import libraries

In [ ]:
import pandas as pd
from pandasql import PandaSQL
pdsql = PandaSQL()

### Generate Dataframes

In [ ]:
df = pd.read_excel('icons.xlsx')

### Select statement
---

In [ ]:
df_select = pdsql("SELECT first_name, profession \
                   FROM df")

print(df) # original dataframe
print('')
print(df_select) # select statement

### Join statement
---

1. Create two dataframes with a shared id

In [ ]:
dfa = df.iloc[:,[0,1,2]]
dfb = df.iloc[:,[0,3]]

print(df) # original dataframe
print('')
print(dfa) # uid and names
print('')
print(dfb) # uid and profession

2. Join dataframes back together

In [ ]:
df_join = pdsql("SELECT x.*, y.profession \
                FROM dfa AS x \
                LEFT JOIN dfb AS y ON x.user_id = y.user_id")
print(df_join)